/* GLOBAL STYLES */

* {
    position: relative;
    border-radius: 4px;
    padding: 0;
    margin: 0;
}

body,
button,
a {
    font-family: 'Oswald', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    color: white;
}

.play-btn {
    border: 1px black solid;
    outline: none;
    background-color: rgba(0, 0, 255, 0.65);
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.5);
}

.play-btn-disabled {
    background-color: rgba(0, 0, 0, 0.1);
    color: rgba(0, 0, 0, 0.8);
    pointer-events: none;
}

.flex-centered {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

body {
    background: url('../images/bg-color.jpg') no-repeat center rgb(128, 128, 128);
    background-size: cover;
    width: 100vw;
}

.overlay {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
}

.desktop-container {
    height: 95%;
    width: 100%;
}

.main-area {
    height: 95%;
    width: 95%;
    flex-direction: column;
    position: absolute;
    top: 0;
    box-shadow: 0 0 5px 2px black;
}

/* NAVBAR AREA */

.nav-container {
    height: 5%;
    justify-content: space-between;
}

.nav-container button {
    margin: 0 20px;
    background: transparent;
    box-shadow: none;
    border: none;
}

/* PLAYING AREA */

.playing-container {
    height: 60%;
}

.main-area--playing {
    margin: 10px auto;
    background-color: rgba(0, 128, 0, 0.5);
}

.playing-section {
    height: 33%;
    width: 100%;
}

#playing-section-middle {
    flex-direction: column;
}

.playing-section--dealer,
.playing-section--player {
    flex-direction: column;
}

.player-cards,
.dealer-cards {
    height: 85%;
    width: 100%;
}

.card {
    display: inline-block;
    background-size: contain;
    width: 16%;
    margin: 0 5px;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.5);
}

.score-container {
    background-color: rgba(255, 255, 255, 0.9);
    color: black;
    line-height: 1;
}

.score-container--dealer,
.score-container--player {
    height: 25px;
    margin: 5px;
}

.score-container span {
    display: inline-block;
    padding: 5px;
}

.score-value {
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
}

.double,
.insurance {
    height: 8vh;
    width: 25vw;
    margin: 2px;
}

/* CONTROLS AREA */

.controls-container {
    height: 40%;
}

.main-area--bank {
    background-color: rgba(0, 0, 255, 0.5);
}

.play-controls {
    width: 90%;
    justify-content: space-between;
}

.play-controls button {
    height: 8vh;
    width: 25vw;
    margin: 2px;
}

.bet-info {
    padding: 2px;
    margin-top: 10px;
    background-color: rgba(255, 255, 255, 0.3);
    color: rgba(0, 0, 0, 0.45);
}

.bet-info--active {
    background-color: white;
    color: black;
}

.bet-info span {
    display: block;
    margin: 0 2px;
}

.bank-info {
    padding: 2px;
}

.chips-container {
    width: 100%;
    justify-content: space-around;
}

.chip {
    height: 50px;
    width: 50px;
    margin: 10px 0;
    border: dashed 5px black;
    border-radius: 50%;
    box-shadow: 0 0 5px 4px rgba(0, 0, 0, 0.5);
}

.chip--1 {
    background-color: rgb(0, 80, 0);
}

.chip--2 {
    background-color: rgb(214, 182, 0);
}

.chip--3 {
    background-color: rgb(180, 0, 0);
}

.chip--4 {
    background-color: rgb(0, 0, 200);
}

.chip--5 {
    background-color: rgb(255, 144, 162);
}

.chip-inner {
    height: 85%;
    width: 85%;
    font-size: 75%;
    margin: auto;
    border: none;
    border-radius: 50%;
    background-color: white;
    color: black;
    text-align: center;
}

.chip-off {
    opacity: 0.3;
    background-color: black;
    pointer-events: none;
}

.undo-btn {
    background-color: red;
    padding: 10px;
    box-shadow: 0 0 5px 4px rgba(0, 0, 0, 0.5);
}

/* FOOTER */

footer {
    text-align: center;
}

/* CLASSES USED BY SCRIPT.JS */

.pop-up-bg-green {
    background-color: rgb(0, 80, 0, 0.7);
}

.pop-up-bg-blue {
    background-color: rgb(0, 0, 80, 0.7);
}

.pop-up-box {
    background-color: white;
    color: black;
    width: 75vw;
    height: 30%;
    margin: auto;
    padding: 5px;
    flex-direction: column;
    font-weight: 300;
    line-height: 1;
    z-index: 1;
    position: absolute;
}

.pop-up-box button {
    background-color: black;
    color: white;
    font-size: 0.9rem;
    margin: 10px 10px 0px 10px;
    padding: 0 5px;
}

/* HELP */

.help-container {
    height: 100%;
}

.help-box,
.options-box {
    background-color: white;
    color: black;
    justify-content: space-between;
    flex-direction: column;
    box-shadow: 0 0 5px 4px rgba(0, 0, 0, 0.5);
    height: 70%;
    width: 70%;
    padding: 20px;
    font-weight: 300;
}

.help-title {
    margin-bottom: 10px;
}

.help-box p {
    font-size: 1.3rem;
    text-align: justify;
    height: 75%;
    overflow: scroll;
}

.help-controls {
    flex-direction: column;
    width: 100%;
}

#btn-left,
#btn-right {
    border: none;
    background-color: transparent;
    color: black;
    font-size: 2rem;
    margin: 0 20px;
}

.help-close,
.options-close {
    border: none;
    background-color: black;
    color: white;
    align-self: flex-end;
    padding: 0 5px;
}

/* MAIN MENU */

.menu-container {
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.logo-container,
.buttons-container {
    height: 50%;
    width: 100vw;
}

.logo-container {
    background-image: linear-gradient(to top, white, transparent);
}

.buttons-container {
    flex-direction: column;
    background-image: linear-gradient(to bottom, white, transparent);
}

.logo-container img {
    height: 90%;
}

.main-btn {
    background-color: black;
    color: white;
    box-shadow: 0 0 5px 4px rgba(0, 0, 0, 0.5);
    width: 100px;
    margin: 10px auto;
}

/* OPTIONS */

.options-container {
    height: 100%;
}

.options-box {
    justify-content: center;
    flex-direction: column;
}

.options-btns-container {
    flex-direction: column;
}

.option-btns {
    font-size: 2rem;
    font-weight: 400;
}

.options-close {
    position: absolute;
    bottom: 20px;
    right: 20px;
}


/* MEDIA QUERIES */

/* Tablet */

@media only screen and (min-width: 768px) {

    body {
        font-size: 2rem;
    }

    .play-btn,
    .play-controls-btn,
    .nav-container button,
    .chip,
    .main-btn,
    .undo-btn,
    .help-close,
    .options-close,
    .pop-up-box button {
        font-size: 2rem;
    }

    .help-box p {
        font-size: 2.5rem;
    }

    .arrows i {
        font-size: 4rem;
    }

    .option-btns {
        font-size: 3.5rem;
    }

    .score-container {
        height: 50px;
        margin: 20px;
    }

    .card {
        width: 12%;
    }

    .chip {
        height: 100px;
        width: 100px;
        border: dashed 10px black;
    }

    .main-btn {
        width: 20vw;
        height: 5vh;
    }

    .undo-btn {
        padding: 15px;
    }

    .help-text {
        padding: 0 5%;
    }

    .pop-up-box button {
        margin: 20px 10px 0px 10px;
    }

}

/* Desktop */

@media only screen and (min-width: 1200px) {

    .help-text {
        display: flex;
        align-items: center;
    }

    .playing-container {
        height: 80%;
        width: 50%;
    }

    .controls-container {
        height: 80%;
        width: 25%;
    }

    .pop-up-box {
        width: 32vw;
        left: 40%;
    }

    .double,
    .insurance {
        width: 12vw;
    }

    .main-area--bank {
        justify-content: space-evenly;
        flex-direction: column-reverse;
    }

    .chip {
        height: 4vw;
        width: 4vw;
        border: dashed 0.4vw black;
    }

    .chip-inner {
        font-size: 1.2vw;
    }

}